.navbar-custom .navbar-brand,
.navbar-custom a,
.navbar-custom {
    color: #2f004f;
    background-color: #C191A1;
}

.navbar-custom a:hover {
    color: #EABFCB;
}

.navbar-custom a:focus {
    color: #A4508B;
}

.navbar-custom button {
    border-color: #2F004F;
}

.navbar-custom button:hover,
.navbar-custom .icon-bar,
.navbar-custom button:focus
{
    background-color: #2F004F;
}

.navbar-custom button:hover .icon-bar,
.navbar-custom button:focus .icon-bar
{
    background-color: #C191A1;
}
